.cart-page {
	margin-top: 10vh;
	max-width: 100vw;
	h3 {
		text-align: center;
		font-weight: 600;
	}
	h5 {
		margin-top: 30vh;
		text-align: center;
		font-size: 1.2rem;
		font-style: italic;
		text-align: center;
	}
}

.cart-content {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	margin-top: 8vh;
}

.cart-details {
	flex: 3;
}

.cart-summary {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

@media only screen and (max-width: 600px) {
	.cart-content {
		flex-direction: column;
		width: 90%;
		margin-top: 8vh;
	}

	.cart-details {
		flex: 1;
		margin-bottom: 20px;
	}

	.cart-summary {
		flex: 1;
		width: 90%;
		margin: 0 auto;
		align-self: center;
	}
}

.cart-item {
	display: flex;
	padding: 0;
	align-items: center;
	justify-content: space-between;
	p {
		margin: 0;
		padding: 0;
	}
	.cart-product {
		flex: 3;
		margin-left: 10px;
	}
	.cart-product__name {
		font-weight: 600;
		font-size: 1.1rem;
	}
	.cart-product__price {
		font-size: 0.9rem;
		color: lighten($primary-color, 20%);
	}
	.cart-product__qty {
		font-size: 0.8rem;
		color: lighten($primary-color, 40%);
	}
	.cart-product__amount {
		font-size: 1.15rem;
		font-style: italic;
		text-align: right;
	}
}

.cart-summary {
	margin: 0 20px;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 8px;
	h4 {
		font-weight: 600;
		font-style: italic;
		font-size: 1.4rem;
		color: lighten($primary-color, 30%);
		text-align: left;
	}
	.cart-summary__total {
		margin-top: 10px;
		font-weight: 600;
		font-size: 1.6rem;
		text-align: right;
	}
	button {
		width: 100%;
	}
}

.action-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	button {
		margin: 0 3px;
	}
}

.remove-button {
	margin-top: 20px;
	float: right;
	outline: none;
	background-color: #c62828;
	box-shadow: none;
	border: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	&:focus {
		outline: none;
	}
}

.add-button {
	margin-top: 20px;
	float: right;
	outline: none;
	background-color: #2e7d32;
	box-shadow: none;
	border: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	&:focus {
		outline: none;
	}
}
